<li class="nav-item"><a class="nav-link" href="<?=Router::url(array('controller'=>'videos', 'action'=>'categorias'), true);?>">Portfolio</a></li>
<li class="nav-item"><a class="nav-link" href="<?=Router::url(array('controller'=>'pages', 'action'=>'display', 'institucional'), true);?>">Institucional</a></li>
<li class="nav-item"><a class="nav-link" href="<?=Router::url(array('controller'=>'conteudos', 'action'=>'index', 'type'=>'blog'), true);?>">Blog</a></li>
<li class="nav-item"><a class="nav-link" href="<?=Router::url(array('controller'=>'pages', 'action'=>'display', 'contato'), true);?>">Contato</a></li>