<a href="<?=Router::url(array('controller'=>'videos', 'action'=>'index'));?>" class="transition">Portfolio</a>
<?PHP
foreach($menus as $Conteudo) {
    // echo '<a href="'. $Conteudo['Conteudo']['_url'] .'" class="transition">'. strtoupper( $Conteudo['Conteudo']['titulo'] ) .'</a>';
}
?>
<a href="<?=Router::url(array('controller'=>'conteudos', 'action'=>'index'));?>" class="transition">Blog</a>
<a href="<?=Router::url(array('controller'=>'pages', 'action'=>'display', 'contato'));?>" class="transition">Contato</a>
