@font-face {
    font-family: 'arquitecta';
    src: url('../../fonts/latinotype_-_arquitectamedium-webfont.woff2') format('woff2'),
         url('../../fonts/latinotype_-_arquitectamedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arquitecta-b';
    src: url('../../fonts/latinotype_-_arquitectabold-webfont.woff2') format('woff2'),
         url('../../fonts/latinotype_-_arquitectabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arquitecta-l';
    src: url('../../fonts/latinotype_-_arquitectalight-webfont.woff2') format('woff2'),
         url('../../fonts/latinotype_-_arquitectalight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* POSSAMAI */
.hidden { display: none; }
textarea { resize:none; }
.hide { display: none; }
.both { clear:both; }
.right { float: right !important; }
.left { float: left !important; }
.m-0 { margin: 0px !important;}
.mb-10 { margin-bottom: 10px !important;}
.mb-15 { margin-bottom: 15px !important;}
.mb-25 { margin-bottom: 25px !important;}
.mb-50 { margin-bottom: 50px !important;}
.mt-0 { margin-top: 0px !important; }
.mt-15 { margin-top: 15px !important; }
.mt-30 { margin-top: 30px !important; }
.mt-50 { margin-top: 50px !important; }
.mr-5 { margin-right: 5px !important;}
.mr-10 { margin-right: 10px !important;}
.mr-20 { margin-right: 20px !important;}
.mr-30 { margin-right: 30px !important;}
.ml-10 { margin-left: 10px !important;}
.ta-c { text-align: center !important; }
.red { color: #b94a48; }
.bold { font-family: 'arquitecta-b';}
.p-rel {position: relative !important;}
.p-20 { padding: 20px !important; }
.pb-0 { padding-bottom: 0px !important; }
.pr-0 { padding-right: 0px; }
.va-m { vertical-align: middle !important; }
.nop { padding: 0px !important; }
.w-250 { width: 250px !important;}
.w100 { width: 100px !important; }
.w-100p { width: 100% !important; }
.h-100p { height: 100% !important; }
.b-n { border: none !important; }

h4 { font-size: 30px; text-transform: uppercase; font-family: 'arquitecta-b';}

#captcha_image { width: 70%; }
#btn_reload_captcha { width: 30%; padding: 5px 0px;	border-radius: 0px; }

td.auto-width { width: 1px; white-space: nowrap; }

.button_fixed { position: fixed; bottom: 20px; right: 20px; }
.button_fixed a { display:inline-block; text-align:center; }
.button_fixed a .fa-whatsapp-square {	color: #128c7e;	font-size: 3em;	background: #FFF;	line-height: 32px; }

.navbar-nav .nav-link {	padding-left: 40px !important; padding-right: 0px !important; text-transform:uppercase; font-family:'arquitecta'; font-size: 0.87em;}
.navbar-toggler { background-color: #000; border: 1px solid #FFF; padding: 10px 5px; }
.navbar-toggler .navbar-toggler-icon { background-color: #FFF; display: block; width: 30px; height: 1px; margin-bottom: 8px; }
.navbar-toggler .navbar-toggler-icon:last-child { margin-bottom: 0px; }

.owl-carrousel { position:relative; z-index:0; }
.owl-carrousel .owl-nav { position:absolute; width:100%; height: 100%; }
.owl-carrousel .owl-stage { z-index: 1; }
.owl-carrousel .owl-nav {	position: absolute;	width: 100%; height: 100%; top: 0px;}
.owl-carrousel .owl-nav button { background: url('../../img/site/setas.png') no-repeat center 0px !important; z-index: 999; width: 36px; padding: 0px; height: 36px; border: 0px; margin:20px; }
.owl-carrousel .owl-nav button span { display: none; }
.owl-carrousel .owl-nav button.owl-next { background-position: center -36px !important; }

a { color:#FFF; }
a:hover { color:#ae00bf; text-decoration: none; }
.btn-theme { background-color: #000; color: #fff; border: 2px solid #fff; font-size: 22px; padding: 1px 50px; }
.btn-theme:hover { background-color: #ae00bf; color:#fff; }

html, body{ max-width: 100%; overflow-x: hidden; }

body { background-color: #000000; color:#FFF; font-family: 'arquitecta'; }
header { background:url('../../img/site/bg_header.jpg') no-repeat top center; background-size: cover; height: 122px; z-index:999; }
header .logo { position: absolute; top: 0px; z-index:1000; width: 338px;}
header .menu { margin-top: 35px; position: relative; top: 0px; left: 0px; z-index: 10001; }

.banner{animation: blur 2s 1;}

section.categorias {  background:url('../../img/site/bg_categorias.jpg') no-repeat top center; height: 1190px; padding: 70px 0px; background-blend-mode: screen; mix-blend-mode: screen;}
section.categorias .item { margin:50px 0px;}
section.categorias a { display: block; text-align: center; text-transform: uppercase; color: #FFF; }
section.categorias a:hover { font-weight: bold; text-decoration: none; }
section.categorias .item a.title { margin-top: 10px; font-size:24px;}
section.categorias .item a.ver_mais { margin-top: 10px; font-size:16px; font-family:'arquitecta-b'; }
section.categorias .item a.btn_bottom { z-index: 9999999999; position: absolute; display: block; width: 100%; }

section.porfolio { background:url('../../img/site/bg_portfolio.jpg') no-repeat center center; padding:150px 100px; margin-top:50px; background-size: contain;}
section.porfolio h4 { text-transform: uppercase; margin: 0 0 80px 0; text-align:center; font-family:'arquitecta-b'; font-size: 1.95em; letter-spacing: 4px;}
section.porfolio a { display: block; }
section.porfolio a img { width: 100%;}
section.porfolio a.title { text-transform: uppercase; font-size: 1.7em; font-family:'arquitecta-b'; margin-top: 15px; line-height: 1em;}
section.porfolio .cliente { font-size: 1em; font-family:'arquitecta-l'; margin-top: 15px;}
section.porfolio a.ver_mais { margin-top: 10px; font-size:19px; font-family:'arquitecta-b'; text-transform: uppercase; }
section.historia p{font-size: 1.3em;}
section.parceiros  { padding: 0 0 50px 0; }
section.parceiros .carrousel { background:url('../../img/site/bg_parceiros.jpg') no-repeat center center; padding:100px 0px; background-size:cover; }
section.parceiros h4 { text-transform: uppercase; margin-top: 30px; text-align:center; font-family:'arquitecta-b'; font-size: 1.95em; letter-spacing: 4px;}

section.lhama { text-align: center;  padding:100px 0px;}

section.empresa {  padding: 0; min-height: 700px; margin-top:-330px; }
section.empresa .title  { position: relative; width: 100%; margin-bottom:-230px; }
section.empresa p { font-family:'arquitecta-l'; font-size:22px; }
section.empresa h4 { font-size:30px; }
section.empresa div img{ background-blend-mode: screen; mix-blend-mode: screen; }

body.home section.empresa  { background:none; }
body.home section.empresa .title  { margin-bottom:200px; }
body.home section.empresa .title img { position: absolute; top:-250px; }

section.lista_videos  {  padding: 100px 0px; min-height: 700px;  /* background: url('../../img/site/bg_institucional_fundo.jpg') no-repeat top center; */}
section.lista_videos .item { /*margin-bottom:10px;*/ background-color: #aaa; background-blend-mode: multiply; }
section.lista_videos .item a { position: relative; display:block;}
section.lista_videos .item a img{ mix-blend-mode: multiply;}
section.lista_videos .item a p { position: absolute; top: 50%; text-align: center; display: block; width: 70%; transform: translate(-50%, -50%); line-height: 50px; left: 50%; }
section.lista_videos .item a:hover {color:#fff;}
section.lista_videos .item a p i { font-size:50px; margin-bottom:10px; }
section.lista_videos .item a p:hover { color:#ae00bf; }
section.lista_videos .item a p span { display:block;margin:10px 0px; ; }
section.lista_videos .item a p span.title { text-transform:uppercase;font-size:54px; font-family:'arquitecta-b'; }
section.lista_videos .item a p span.client { font-family:'arquitecta-l';font-size:40px;  }
section.lista_videos ul.nav { margin:80px 0px; }
section.lista_videos ul.nav li { border-right: 2px solid #FFF; }
section.lista_videos ul.nav li:last-child { border-right: 0px; }
section.lista_videos ul.nav li a { text-transform: uppercase; font-family: 'arquitecta-b'; padding: 0rem 1rem; font-size: 20px;	line-height: 15px; }
section.lista_videos ul.nav li a.active { color:#d42ed5; }

section.video  {  padding-top: 100px; }
section.video h4 { font-size: 30px; text-transform: uppercase; font-family: 'arquitecta-b'; font-weight: bold; margin: 40px 0px; }
section.video .title { display: block; font-size: 1.95em; text-transform: uppercase; text-align: center; font-family: 'arquitecta-b'; letter-spacing: 4px; margin: 20px 0px 0px; }
section.video .client { display: block;	font-size: 26px; line-height: 30px; font-family: 'arquitecta-l'; text-align: center; margin-bottom: 40px; }
section.video a.btn_video { position: relative; display:block; }
section.video a.btn_video p { position: absolute; top: 50%; text-align: center; display: block; width: 70%; transform: translate(-50%, -50%); line-height: 50px; left: 50%; }
section.video a.btn_video p i { font-size:50px; margin-bottom:10px; }
section.video .description { min-height:640px; padding:20px 0px; background: url('../../img/site/bg_description.jpg') no-repeat top right; }
section.video .description p { margin-bottom:20px; font-size:22px; font-family: 'arquitecta-l'; }
section.video .description strong { font-family: 'arquitecta-b'; }

section.contato { background: url('../../img/site/bg_categorias.jpg') no-repeat center 140px; height: 1140px; padding: 100px 0px 100px; background-size: 80%; }
section.contato h4 { text-transform: uppercase; font-size: 20px; font-family: 'arquitecta-b'; margin:50px 0px 100px; }
section.contato h4 i { font-size: 12px; margin-right: 10px; }
section.contato h5 { text-transform: uppercase; font-size: 24px; font-family: 'arquitecta-b'; margin-bottom:20px; }
section.contato .information strong { font-size: 20px; line-height:24px; font-family: 'arquitecta-b'; display:block; }
section.contato .information p { font-size: 20px; font-family: 'arquitecta-l'; display: block; line-height: 22px; margin-top: 10px; }

section.conteudo { padding: 100px 0px;  }
section.conteudo h1 { text-transform:uppercase; }
section.conteudo .content p { font-size: 22px; font-family: 'arquitecta-l'; }
section.conteudo .author { font-size: 18px; color: #808080; }
section.conteudo .addthis_inline_share_toolbox_nk3r { display:inline-block;}
section.conteudo h4 { text-transform: uppercase; font-size: 20px; font-family: 'arquitecta-b'; margin:10px 0px 20px; }
section.conteudo h4 i { font-size: 12px; margin-right: 10px; }
section.conteudo .lista_conteudo .row { border-bottom:1px dotted #999; padding:50px 0px; }
section.conteudo .lista_conteudo .row:first-child,
section.conteudo .lista_conteudo .row:last-child { border-bottom:0px; }
section.conteudo .lista_conteudo .row p { font-size: 22px; font-family: 'arquitecta-l'; line-height: 24px; margin: 20px 0px; }
section.conteudo .lista_conteudo .row a.btn_ver_mais { font-size:18px; color:#fff; font-family: 'arquitecta-l'; }
section.conteudo .lista_conteudo .row a.btn_ver_mais:hover { font-weight: bold; }
section.conteudo .lista_conteudo .row a { font-size:24px; color:#d42ed5; margin-bottom:20px; font-family: 'arquitecta-b'; font-weight: bold;}
section.conteudo .lista_conteudo .row a:hover { color:#fff; font-weight: bold; }
section.conteudo #FormConteudoFiltro .form-group { background-color:#fff; border-radius:20px; margin: 0px; }
section.conteudo #FormConteudoFiltro .form-group input { width:calc(100% - 50px); display:inline-block; }
section.conteudo #FormConteudoFiltro .form-group .form-control { background:none; border:0px; }
section.conteudo #FormConteudoFiltro .form-group button { }

footer { position: relative; background-color:#000; padding: 50px 100px 0 100px; border-top:1px solid #666666; margin-top: 10px;}
footer ul.nav li a { text-transform: uppercase; font-size: 14px; font-family: 'arquitecta'; }
footer ul.nav li:first-child a { padding-left: 0px;}
footer .copy { position: absolute; bottom:30px; font-size:13px;}
footer .social i { background-color: #FFF; color: #000; padding:10px; border-radius: 20px; font-size:20px; width: 40px; height: 40px; text-align: center; }
footer .social a:hover {font-weight: normal; }
footer .social a:hover i {font-weight: normal; background-color:#ae00bf; }
footer .video_lhama {padding-bottom: 0; margin-bottom: 0;}
footer div[class^="col-"],
footer .copy { z-index: 999; }

.blur{animation: blur 1s 1;}
@-webkit-keyframes blur {
	0% { filter: blur(35px);}
	100% { filter: blur(0);}
}

/*screen-xs*/
@media (max-width: 768px) {

    .banner .owl-carousel .owl-stage-outer .owl-stage .owl-item a .item p, .foto_institucional a p {top: 30% !important;}
    section.categorias {height: 800px; padding: 70px 0px; background-size: cover; background-position: center; margin-bottom: 100px; }

    section.porfolio { padding: 30px 0px; }
    section.porfolio .row { text-align: center; }

    body.home section.empresa .title  { margin-bottom:0px; }
    .banner, .foto_institucional {margin-top:54px;}
    section.lista_videos .item a p i { font-size:30px; }
    section.lista_videos .item a p span.title { font-size:26px; line-height: 26px;  }
    section.lista_videos .item a p span.client { font-size:22px; line-height: 22px;  }
    footer .text-right { text-align:center !important;}
    footer .copy { transform: translateX(-50%); left:50%; text-align:center; }
    footer .video_lhama { position: static; left: auto; transform: none; width: 100%; margin:30px 0;}

    section.empresa { margin-top:400px; }
    section.empresa .title { width: 200%; margin-left: -50%; margin-bottom:-130px; clip-path: polygon(25% 0, 75% 1%, 75% 100%, 25% 100%);}
    section.categorias .item {margin: 10px 0px;}
    section.porfolio .cliente { font-size: 1.4em;}
    section.porfolio h4{margin:0 0 50px 0;}

    section.contato {margin: 0; height: auto; padding: 100px 0 0 0;}
    section.contato h4{margin: 0;}
    .information{text-align: left !important; margin-top: 40px;}
    .contato iframe {width: 100% !important;}

    footer { padding: 30px; font-size: 1.2em;}
    footer .nav .nav-item{width: 100%; display: block; text-align: center;}
    .copy{display: none;}
    footer .nav-link{padding: 5px 0;}
    footer ul.nav li a{font-size: 1.2em;}
}

/*screen-sm*/
@media (min-width: 768px) and (max-width: 992px) {
    section.categorias { height: 1230px; padding: 140px 0px; }
    section.empresa .title  { margin-bottom:-180px; }
    body.home section.empresa .title  { margin-bottom:100px; }


}

/*screen-md*/
@media (min-width: 992px) and (max-width: 1200px) {
    body.home section.empresa .title  { margin-bottom:100px; }
}

/*screen-lg corresponds with col-lg*/
@media (min-width: 1200px) {
    section.empresa .title img { top:-400px; width:100%; }
    section.lista_videos .item a img { width:100%; }
    section.video a.btn_video img {  width:100%;  }
}

.container{
  max-width: 100% !important;
}

.fancybox-toolbar{
  display:none !important;
}

.fancybox-slide {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.fancybox-slide--iframe .fancybox-content {
    width: 100% !important;
    height: 100% !important;
    max-width: calc(100% - 100px);
    max-height: calc(100% - 88px);
}

.parallax{
	background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}
